body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor {
    width: 100%;
}

#cabecera {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
}

#sub_cabecera {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

#sub_cabecera_right {
    background-color: transparent;
    padding: 5px 10px;
    display: inline-flex;
    text-align: center;
    justify-content: flex-end;
}

#sub_cabecera_right img {
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
}

#sub_cabecera_right span {
    color: white;
    width: auto;
}

#sub_cabecera input {
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
}

#sub_cabecera button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

#logo {
    background-image: url("../img/logo.svg");
    display: flex;
    width: 95vh;
    height: 19vh;
    background-repeat: no-repeat;
    background-position: center;
}

#cerrar_sesion {
    width: auto;
}

#cerrar_sesion img {
    width: 27px;
}

#sub_cabecera_right_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub_cabecera_right_right {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#foto_user {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#contenido {
    padding: 1% 5%;
    background-color: white;
}


/***************************** MENU Hamburguesa ********************************************/

.nav {
    padding: 5px;
    margin: 0;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
    background-color: #800000;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #800000;
}

.nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.activa {
    background-color: black;
    color: white !important;
}

.nav li a:hover,
.nav .menu-btn:hover {
    color: white !important;
}

.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


/* menu icon */

.nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 40px;
    position: relative;
    user-select: none;
}

.nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.nav .menu-icon .navicon:before {
    top: 5px;
}

.nav .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked~.menu {
    max-height: 460px;
}

.nav .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.nav .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/********************  Buscador  *******************/

.div_resultado {
    padding: 2%;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
}

.p_res {
    margin-bottom: 20px;
}

.div_resultado:hover {
    opacity: 0.8;
}

.div_resultado h1 {
    color: blue;
}

.div_resultado h3 {
    color: green;
    background-color: white;
    border: none;
    text-align: left;
}

.div_resultado h2 {
    text-align: left;
    padding: 0;
    font-weight: normal;
}

.div_resultado b {
    color: #800000;
}

@media (min-width: 844px) {
    .nav {
        display: flex;
        justify-content: center;
    }
    .nav li {
        float: left;
    }
    .nav li a {
        padding: 20px 30px;
    }
    .nav .menu {
        clear: none;
        max-height: none;
    }
    .nav .menu-icon {
        display: none;
    }
}

footer p {
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    color: white;
    height: 230px;
    padding-bottom: 5%;
}

footer img {
    width: 50%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
}

@media (max-width: 1085px) {
    #img_logo {
        width: 500px;
    }
    footer img {
        width: 500px;
    }
}

@media (max-width: 860px) {
    #sub_cabecera {
        display: none;
    }
}